#header {
    height: 75px;
    width: 100%;

    top: 0px;
    left: 0px;
    
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    
    transition: background-color 0.5s, transform 0.5s;
}

#logo-container {
    width: 50px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 10px;
}

#logo-container:active #header-logo {
    width: 90%;
    height: 90%;
}

#header-logo {
    width: 100%;
    height: 100%;
    
    margin-left: 10px;
    
    transition: all 0.15s;
}

#header-logo path {
    fill: var(--primary);
}

#header-title {
    flex: 1;
    padding: 5px 15px;
    text-align: center;
    text-transform: capitalize;
}

#header-hamburger {
    width: 20px;
    height: 20px;
    margin-right: 25px;
    transform: scale(100%);
    transition: transform 0.25s;
}

#header-hamburger:hover {
    transform: scale(110%);
    margin-right: 25px;
}