.outer-page-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.page-container {
    margin: 15px;
    margin-bottom: 0px;
    text-align: left;
    word-wrap: normal;
    word-break: break-all;
    max-width: 1000px;
}